.fab {
  width: 70px;
  height: 70px;
  background-color: #3399cc;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 60px;
  line-height: 100%;
  color: white;
  text-align: center;

  position: fixed;
  right: 50px;
  bottom: 50px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .fab {
    display: none;
  }
}

