/* The Modal (background) */
.settings-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.settings-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #7e7e7e;
  font-size: 28px;
  font-weight: bold;
  margin-left: 95%;
  /* display: flex; */
  /* float: right; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.settings-header {
  padding: 2px 16px;
  background-color: #ffffff;
  color: #000000;
  border-bottom: 2px solid #e9ecef;
  text-align: start;
}

.settings-body {
  padding: 2px 16px;
}

.profile-input > input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile-label {
  justify-content: start;
  margin: 5px 0;
}

/* Style the tab */
.tab-page {
  float: left;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  width: 25%;
  border-radius: 5px;
  margin: auto -15px;
}

/* Style the buttons inside the tab-page */
.tab-page button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid #dbdbdb;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-page button:hover {
  background-color: #ddd;
}

.danger {
  color: #da2c38;
}

/* Style the tab-page content */
.tab-content {
  float: left;
  padding: 0px 20px;
  margin-left: 40px;
  margin-right: auto;
  width: 70%;
  border-left: none;
  height: 300px;
}

.update-button {
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #3399cc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.update-button:hover {
  background-color: #9fcae0;
  color: #000000;
}

.get-otp-button {
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #eca400;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.get-otp-button:hover {
  background-color: #f4d693;
  color: #000000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f4d693;
}

input:focus + .slider {
  box-shadow: 0 0 1px#F4D693;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.delete-button {
  float: left;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #da2c38;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
.delete-button:hover {
  background-color: #e37980;
  color: #000000;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}
